.git
.env
auth.json
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
public/hot
public/storage
.editorconfig
.gitignore
README.md
docker-compose.yml
Dockerfile
.cursor/
docs/
